<html class="/frontpage" lang="en">
<head>
    <meta charset="utf-8" />  
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="import" href="/templates/document.body.html" />
    <link rel="import" href="/templates/document.head.html" />
    <link rel="import" href="/templates/json.data.html" />
    <link rel="import" href="/templates/metas.html" />
	<link rel="stylesheet" type="text/css" href="/css/frontpage2.css" />
	<link rel="import" href="/templates/header.nav.html" />
	<link rel="stylesheet" href="/css/normalize.css">
    <!--<link rel="import" href="/templates/stylesheets.html" />-->
    <link rel="import" href="/templates/favicon.html" />
    <link rel="import" href="/templates/metas.social.html" />
    <link rel="import" href="/templates/scripts.html" />
    <link rel="import" href="/templates/header.html" />
    <link rel="import" href="/templates/footer.html" />
</head>
<body>
    <document-head>
        <hio-metas></hio-metas>
        <title>Haxe.io — News And Information For Haxe Developers</title>
        <hio-metas.social></hio-metas.social>
        <!--<hio-stylesheets></hio-stylesheets>-->
        <hio-icons></hio-icons>
        <hio-scripts></hio-scripts>
    </document-head>
	<hio-header.nav></hio-header.nav>
	<main class="grid">
		<p>
			Get the latest news, jobs, tutorials and events covered weekly,
			for Haxe, a <strong>high level, cross-platform, strongly typed</strong> programming language. 
        </p>
        <ul class="languages">
            <li class="icon language haxe"><img src="/svg/haxe.svg"></li>
            <json-data select="*[name=javascript], *[name=nodejs], *[name=python], *[name=java], *[name=php], *[name=cplusplus], *[name=csharp]" each>
                <li :class="icon language {.name}"><img :title="{.name}" :src="/devicon/icons/{.name}/{.name}-plain.svg"></li>
            </json-data>
            <json-data select="*[name=lua]" each>
                <li :class="icon language {.name}"><img :title="{.name}" :src="/svg/devicon/icons/{.name}/{.name}-plain.svg"></li>
            </json-data>
        </ul>
        <section>
            <h2>News</h2>
            <ul class="grid content articles">
                <json-data select=".roundups_list .p:nth-child(-n+5) :nth-child(-n+5)" each><!-- The double `nth-child` reverses the results -->
                    <li class="roundups" itemtype="http://schema.org/Article" :id="r{*}" itemscope="">
                        <a :title="Haxe Roundup № {*}" :href="/roundups/{*}/">
                            <h2 itemprop="headline"><span class="full">Haxe </span><span class="short">Roundup </span><span class="full">№ </span><span class="optional">#</span><span :to="{*}"></span></h2>
                        </a>
                        <time dateCreated="$date" pubdate="" datetime="$date"></time>
                    </li>
                </json-data>
            </ul>
        </section>
        <section>
            <h2>Game Jams</h2>
            <ul class="grid content jams">
                <json-data select=".ludumdare_list .p:nth-child(-n+5) :nth-child(-n+5)" each><!-- The double `nth-child` reverses the results -->
                    <li class="ludumdare" itemtype="http://schema.org/Article" :id="ld{*}" itemscope="">
                        <a :title="Ludum Dare {*} Roundup" :href="/ld/{*}/">
                            <h2 itemprop="headline"><span class="full">The Ludum Dare </span><span class="short">LD</span><span :to="{*} Roundup"></span></h2>
                        </a>
                        <time dateCreated="$date" pubdate="" datetime="$date"></time>
                    </li>
                </json-data>
            </ul>
        </section>
	</main>
	<footer></footer>
</body>
</html>
