<html class="/frontpage" lang="en">
<head>
    <meta charset="utf-8" />  
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="import" href="document.body.html" />
    <link rel="import" href="document.head.html" />
    <link rel="import" href="/templates/json.data.html" />
    <link rel="import" href="/templates/metas.html" />
	<link rel="stylesheet" type="text/css" href="/css/frontpage2.css" />
	<link rel="import" href="/templates/header.nav.html" />
	<link rel="stylesheet" href="/css/normalize.css">
    <!--<link rel="import" href="/templates/stylesheets.html" />-->
    <link rel="import" href="/templates/favicon.html" />
    <link rel="import" href="/templates/metas.social.html" />
    <link rel="import" href="/templates/scripts.html" />
    <link rel="import" href="/templates/header.html" />
    <link rel="import" href="/templates/footer.html" />
</head>
<body>
	<input type="checkbox" id="news" name="nav-group">
	<input type="checkbox" id="ludumdare" name="nav-group">
	<input type="checkbox" id="releases" name="nav-group">
	<input type="checkbox" id="events" name="nav-group">
	<input type="checkbox" id="speaker" name="nav-group">
	<input type="checkbox" id="videos" name="nav-group">
	<input type="checkbox" id="articles" name="nav-group">
    <document-head>
        <hio-metas></hio-metas>
        <title>Haxe.io — News And Information For Haxe Developers</title>
        <hio-metas.social></hio-metas.social>
        <!--<hio-stylesheets></hio-stylesheets>-->
        <hio-icons></hio-icons>
        <hio-scripts></hio-scripts>
    </document-head>
	<hio-header.nav></hio-header.nav>
	<main class="grid">
		<p>
			Get the latest news, jobs, tutorials and events covered weekly,
			for Haxe, a <strong>high level, cross-platform, strongly typed</strong> programming language. 
		</p>
		<ul>
            <json-data select=".roundups_list .p:nth-child(-n+5) :nth-child(-n+5)" each><!-- The double `nth-child` reverses the results -->
                <li itemtype="http://schema.org/Article" :id="r{*}" itemscope="">
                    <a :title="Haxe Roundup № {*}" :href="/roundups/{*}/">
                        <h1 itemprop="headline"><span :to="Haxe Roundup № {*}"></span></h1>
                    </a>
                    <time dateCreated="$date" pubdate="" datetime="$date"></time>
                </li>
			</json-data>
			<json-data select=".ludumdare_list .p:nth-child(-n+5) :nth-child(-n+5)" each><!-- The double `nth-child` reverses the results -->
                <li class="ludumdare" itemtype="http://schema.org/Article" :id="r{*}" itemscope="">
                    <a :title="Ludum Dare {*} Roundup" :href="/ld/{*}/">
                        <h1 itemprop="headline"><span :to="The Ludum Dare {*} Roundup"></span></h1>
                    </a>
                    <time dateCreated="$date" pubdate="" datetime="$date"></time>
                </li>
			</json-data>
		</ul>
	</main>
	<footer></footer>
</body>
</html>
