<link rel="import" href="/templates/logo.html" />
<template data-prefix="hio" data-name="header.nav">
    <nav class="header--nav">
        <ul>
            <li>
                <a type="image/logo" href="/">
                    <hio-logo></hio-logo>
                </a>
            </li>
            <li>
                <label for="articles" onclick=";">Weekly News</label>
            </li>
            <li>
                <label for="releases" onclick=";">Releases</label>
            </li>
            <li>
                <label for="events" onclick=";">Events</label>
            </li>
            <li>
                <label for="videos" onclick=";">Videos</label>
            </li>
            <li>
                <label for="ludumdare" onclick=";">Ludum Dare</label>
            </li>
        </ul>
    </nav>
</template>
<script src="/js/component.js"></script>
