<link rel="import" href="/templates/logo.html" />
<template data-prefix="hio" data-name="header.nav">
    <nav class="header--nav">
        <ul>
            <li>
                <a type="image/logo" href="/">
                    <hio-logo></hio-logo>
                </a>
            </li>
            <li>
                <a>Weekly News</a>
            </li>
            <li>
                <a>Releases</a>
            </li>
            <li>
                <a>Events</a>
            </li>
            <li>
                <a>Videos</a>
            </li>
            <li>
                <a>Ludum Dare</a>
            </li>
        </ul>
    </nav>
</template>
<script src="/js/component.js"></script>
