:root {
    /* Base colours */
    --cs-background-L2: #B2AB9C;
    --cs-background-L1: #DFFFF0;
    --cs-background-core: #FFFDF9;  /* Baby powder */
    --cs-background-R1: #C4B3CC;
    --cs-background-R2: #ADA1B2;
    --cs-variance: 2;

    /* Text */
    --cs-text-core: #333332;
    
    /* Section Colours */
    --cs-section-articles: rgba(241,89,34, 1);
    --cs-section-ludumdare: rgba(119, 68, 204, 1);
    --cs-section-videos: rgb(255, 0, 0, 1);
    --cs-section-events: rgb(246, 64, 96, 1);
    --cs-section-releases: rgba(108, 198, 68, 1);

    /* Base colour variances */
    
    @for $i from -40 to 40 {
        --bg_left_b$(i): cs($(i), background-L2);
        --bg_left_a$(i): cs($(i), background-L1);
        --bg_core$(i): cs($(i), background-core);
        --bg_right_a$(i): cs($(i), background-R1);
        --bg_right_b$(i): cs($(i), background-R2);
    }

    /* Text colour variances */

    @for $i from -40 to 40 {
        --text-core$(i): cs($(i), text-core);
    }

    /* Section variances */

    @for $i from -40 to 40 {
        --section-articles$(i): cs($(i), section-articles);
        --section-ludumdare$(i): cs($(i), section-ludumdare);
        --section-videos$(i): cs($(i), section-videos);
        --section-releases$(i): cs($(i), section-releases);
        --section-events$(i): cs($(i), section-events);
    }

}