@import "_global.css";

[name="nav-group"][type="checkbox"] {
	display: none;
}

#news:checked ~ main li:not([id^="r"]),
#news:checked ~ main li[id^="release"] {
	display: none;
}

#news:checked ~ main li[id^="e"] {
	display: none;
}

#articles:checked ~ main li:not([itemtype*="Article"]),
#articles:checked ~ main li.ludumdare {
	display: none;
}

#ludumdare:checked ~ main li:not(.ludumdare) {
	display: none;
}

#releases:checked ~ main li:not([id^="release"]) {
	display: none;
}

#events:checked ~ main li:not([id^="e"]) {
	display: none;
}

#speaker:checked ~ main li:not([id^="speaker"]) {
	display: none;
}

#videos:checked ~ main li:not([id^="noc"]) {
	display: none;
}

#news:checked ~ main li[id^="r"]:not([id^="release"]),
/*#weekly-news:checked ~ main li[id^="ld"],*/
#ludumdare:checked ~ main li.ludumdare,
#releases:checked ~ main li[id^="release"],
#events:checked ~ main li[id^="e"],
#speaker:checked ~ main li[id^="speaker"],
#videos:checked ~ main li[id^="noc"], 
#videos:checked ~ main li[id*="--video"],
#articles:checked ~ main li[itemtype*="Article"]:not(.ludumdare) {
	display: flex;
}

nav.header--nav {
	display: flex;
    margin-bottom: .5em;
	justify-content: space-between;
    border-bottom: 1px solid var(--bg_left_b10);
    /*border-bottom: 1px solid rgba(189, 189, 189, 1);*/

    & [type="image/logo"] > svg {
        min-width: 2em;
        max-width: 2em;
        min-height: 2em;
        max-height: 2em;
    }

    & ul {
        display: flex;
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        list-style: none;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        &.left {
            & li {
                border-left: 1px solid var(--bg_left_b14);

                &:first-of-type {
                    border: none;
                    padding: 0 1em;
                    font-size: inherit;
                }
                
                &:last-of-type {
                    border-right: 1px solid var(--bg_left_b14);
                }

            }

        }

        &.right {
            align-items: flex-end;
            /*padding-right: 8vw;*/

            & .social {
                min-width: 1.2em;
                max-width: 1.2em;
                min-height: 1.2em;
                max-height: 1.2em;
                /*align-self: center;*/
            }
        }

        & li {
            font-size: 0.8em;
            padding: 1.5em 1em;

            & label {
                cursor: pointer;
                padding: calc(1.5em - var(--border-width)) 0;

                &[for]:hover {
                    border-bottom: var(--border-width) solid;
                }

                &[for="articles"]:hover {
                    border-bottom-color: var(--section-articles10);
                }

                &[for="events"]:hover {
                    border-bottom-color: var(--section-events10);
                }

                &[for="ludumdare"]:hover {
                    border-bottom-color: var(--section-ludumdare10);
                }

            }

        }

    }

}